
#footer  
  %span &copy; 2009 <a href="/">#{AppConfig.app_name} </a>
  %span <a href="http://www.twitter.com/#{AppConfig.app_name}" class="twitter" title="Follow Us on Twitter">Follow Us on Twitter</a>
